<div class="container">
  <div class="row">
  <div class="col-5">
      <div class="d-flex flex-column align-items-left">
        <h1 class="p-2">Stupid Coaching</h1>
        <form action="answer" data-turbo="false" class="d-inline-flex">
          <input class="form-control m-2" type="text" name="question" placeholder="Your question here">
          <button type="submit" class="btn btn-primary m-2">Ask!</button>
        </form>
      </div>
    </div>
  </div>
</div>
